venv/
# Byte-compiled / optimized / package files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff
db.sqlite3
*.sqlite3
/media/
*.log
*.pot
*.pyc
.DS_Store

# Static and media files
staticfiles/
media/

# Local settings
.env
*.local
config/settings/local.py  # If using separate settings files

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Coverage reports
htmlcov/
.coverage
*.cover
.hypothesis/

# pipenv and poetry
Pipfile
Pipfile.lock
poetry.lock

# Docker
*.log
docker-compose.override.yml

# Celery
celerybeat-schedule
celerybeat.pid

# Migrations (optional, if you want to force developers to run migrations)
**/migrations/*.py
!**/migrations/__init__.py
