*{
  padding: 0;
  margin: 0;
  font-family: "Lucida Handwriting", cursive;
  font-size: 36px;
  color: white;
}
.outerdiv{
  display: flex;
  flex-direction: column;
}
.topdiv{
  background-color: rgb(64, 18, 124);
  padding: 16px;
}
.lowerdiv{
  background-image: linear-gradient(rgb(165, 138, 240), rgb(255, 255, 255));
  padding: 16px;
}

.figurediv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}