table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 60%;
  background-color: rgb(191, 255, 183);
  text-align: right;
}
th, td{
  padding: 8px;
}
th{
  background-color: red;
  text-align: center;
}
.country{
  background-color: rgb(255, 246, 195);
  text-align: center;
}
.firsttd{
  background-color: rgb(178,201, 241);
}
